@use './../../styles/variables' as *;

.reset-btn-container {
  display: flex;
  justify-content: end;
  margin-bottom: $spacing-3;

  .reset-btn {
    width: 60px;
  }
}

.user-table-container {
  position: relative;

  overflow-x: auto;
  overflow-y: hidden;
  background: $color-white;
  border-radius: $border-radius-md;
  padding: $spacing-3;

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: $font-size-sm;

    thead {
      background-color: $color-white;

      th {
        text-align: left;
        padding: $spacing-5;
        color: $color-text-medium;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-xs;
        position: relative;
        cursor: pointer;

        svg {
          margin-left: $spacing-1;
          vertical-align: middle;
        }
      }

      .header-filter {
        display: flex;
        align-items: center;
        gap: $spacing-2;
      }
    }

    tbody {
      tr {
        border-top: 1px solid #f0f0f0;

        td {
          padding: 12px;
          color: $color-text-medium;
          font-size: $font-size-sm;
          font-weight: $font-weight-regular;
        }

        &:hover {
          background-color: #f5f8fa;
        }
      }
    }
  }

  .filter-popup {
    position: absolute;
    top: 60px;

    z-index: 20;
    background: $color-white;
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
    padding: $spacing-6;
    border-radius: $border-radius-md;
    min-width: 280px;
    height: 500px;
    overflow-y: auto;

    .fields {
      margin-bottom: $spacing-2;
    }

    .filter-actions {
      display: flex;
      justify-content: space-between;
      margin-top: $spacing-1;
      gap: $spacing-7;
      padding-bottom: $spacing-6;
    }

    button {
      width: 100%;
    }
  }
}

.badge {
  padding: $spacing-1 $spacing-2;
  border-radius: 12px;
  font-size: $font-size-sm;
  font-weight: $font-weight-regular;
  text-transform: capitalize;

  &--active {
    background: $status-active-bg;
    color: $status-active-text;
  }
  &--inactive {
    background: $status-inactive-bg;
    color: $status-inactive-text;
  }
  &--pending {
    background: $status-pending-bg;
    color: $status-pending-text;
  }
  &--blacklisted {
    background: $status-pending-bg;
    color: $status-blacklisted-text;
  }
}

.menu-cell {
  position: relative;

  .menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: $color-white;
    border: 1px solid #eee;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: $border-radius-sm;
    width: 180px;
    padding: $spacing-2 $spacing-0;
    z-index: 10;

    .menu-item {
      width: 100%;
      display: flex;
      align-items: center;
      gap: $spacing-2;
      padding: $spacing-2 $spacing-3;
      border: none;
      background: transparent;
      cursor: pointer;
      font-size: $font-size-sm;
      color: $color-text-dark;

      &:hover {
        background: #f5f5f5;
      }
    }
  }
}
